
version: '3.8'

services:
  database:
    container_name: database
    restart: always
    build:
      context: ./database
      dockerfile: dockerfile
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
