
version: '3.8'

services:
  container_name: database
  hostname: database
  app:
    build: 
      context: .
      dockerfile: dockerfile
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres