
version: '3.8'

services:
  database:
    container_name: "database" 
    hostname: database
    build: 
      context: .
      dockerfile: dockerfile
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres